@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #06A764;
  --secondary: #013F81;
  --background: #FFFFFF;
  --text: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
